body {
  background-color: #4182c2b7;
  background-repeat: no-repeat;
}

h3 span {
  background-color: #343a40;
  border-radius: 0.5rem;
  color: white;
}

.alert:hover {
  background-color: rgb(195, 217, 238);
  cursor: pointer;
}

#icon {
  width: 5rem;
  height: 5rem;
  margin-right: 5rem;
}
