body {
  background-color: #343a40;
  background-image: url('https://source.unsplash.com/1600x900/?nature');
}

h3 span {
  background-color: #343a40;
  border-radius: .5rem;
  color: white;
}

.alert:hover {
  background-color: rgb(195, 217, 238);
  cursor: pointer;
}